:root { 
    --primary-color: #171A2B; 
    --sec-color: #4F6BC1;
    --spare-color: #0F1223;
    --white: #FFFFFF;
}

/* Color Theme Swatches in Hex */
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-1-hex { color: #262526; }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-2-hex { color: #73412F; }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-3-hex { color: #BF785E; }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-4-hex { color: #BFACAA; }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-1-rgba { color: rgba(38, 36, 37, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-2-rgba { color: rgba(114, 65, 47, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-3-rgba { color: rgba(191, 119, 93, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-4-rgba { color: rgba(191, 171, 170, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-1-hsla { color: hsla(326, 2, 14, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-2-hsla { color: hsla(16, 41, 31, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-3-hsla { color: hsla(16, 43, 55, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-4-hsla { color: hsla(5, 14, 70, 1); }
.Portrait-of-sexy-elegant-lady-woman-with-hat-smoking-cigar-5-hsla { color: hsla(0, 0, 5, 1); }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: .3px solid red; */
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--spare-color);  
    color: var(--white);  
}
ul {
    list-style: none;
}
p {
    max-width: 600px;
    font-size: 20px;
}
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
section {
    padding: 50px 0;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 15px 40px;
}
.section-intro {
    font-size: 11px;
    filter: opacity(.9);
}
.card-body {
    padding: 20px;
}
.card {
    transition: 0.3s;
    border-radius: 5px;
}
.card p {
    margin-bottom: 20px;
}
.grid {
    display: grid;
    gap: 25px;
}
.flex {
    display: flex;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
.my {
    margin-top: 8px;
    margin-bottom: 8px;
}
a:hover {    
    filter: opacity(.7);
}
.btn {
    color: #fff;
    /* background-color: var(--primary-color); */
    background-color: var(--white);
    color: var(--primary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font: inherit;
    transition: background-color .3s ease-in, color .3s ease-in;
}
.btn:hover,
.btn:active {
    color: var(--sec-color);
    color: var(--white);
    background-color: var(--sec-color);
    /* background-color: var(--spare-color); */
    /* background-color: var(--white); */
}

.headings {
    margin-top: 10px;
    margin-bottom: 20px;
}
.header {
    color: var(--white);
    z-index: 3;
    background: var(--primary-color);
    position: fixed;
    padding: 10px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.header nav {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 25px;
    font-weight: 700;
}
.active {
    font-weight: 600;
    border-bottom: 2px solid #fff;
}
.desktop-nav a {
    padding: 6px 10px;
}
.header-social-icons a {
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: var(--sec-color);
    color: var(--primary-color);
    border-radius: 50%;
}
.header-social-icons .mid-a {
    margin: auto 10px;
}
.header-social-icons a:hover {
    background-color: var(--sec-color);
    color: var(--primary-color);
}
#hamburger-btn,
.mobile-nav {
    display: none;
}
#hamburger-btn {
    width: 30px;
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
}
/* .hamburger {
    background-image: url('../images/hamburger.svg');
    background-size: cover;
}
.close {
    background-image: url('../images/close.svg');
    background-size: cover;
} */
.line {
    height: 3px;
    width: 28px;
    margin-bottom: 5px;
    display: block;
    background-color: #ffffff;
}
.nav-link:hover,
.nav-link.active {
    text-decoration: none;
}
 
#home-page {
    height: 100vh;
    background-color: var(--primary-color);
}
#home-page h1 {
    max-width: 600px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.home-intro {
    font-size: 20px;
}
.home-page-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.home-btn {
    margin-top: 10px;
    width: 100px;
}
.go-up {
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.go-up a {
    background-color: #000000;
    color: #ffffff;
}
.about-card > * {
    flex-basis: 50%;
    position: relative;
}
.skill-card-contain {
    padding: 30px 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.about-card-skill {
    position: relative;
    padding: 20px 8px;
    width: 70%;
    /* height: 290px; */
    /* background-color: #000000; */
    transform: rotate(45deg);
    transform-origin: center center;
    /* column-count: 2; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.about-page-card {
    padding: 10px;
    background-color: var(--primary-color);
    /* color: #000000; */
    border-radius: 8px;
    /* margin-bottom: 10px; */
    -webkit-column-break-inside: avoid;
    display: flex;
    justify-content: center;
}
.skill-card-text {
    transform: rotate(-45deg);
    margin: auto;
}
.skills-page {
    background-color: var(--primary-color);
}
.skills-page .card {
    background-color: var(--spare-color);
}
.edu-grid {
    grid-template-columns: 1fr 1fr;
}
.edu-head {
    justify-content: space-between;
}
.edu-title {
    font-size: 16px;
}
.edu-text {
    font-size: 15px;
}
.edu-time {
    font-size: 12px;
}
.certificate-btn {
    color: inherit;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 8px 1px;
}
.certificate-btn:hover,
.certificate-btn:active {
    filter: opacity(.7);
}
.certificate-img-contain {
    position: fixed;
    z-index: 10;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 36, 37, .7);
}
.certificate-img-tag {
    display: none;
}
.certificate-img {
    max-width: 700px;
}
.skill-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.card hr {
    border: 1px solid rgba(255, 255, 255, .5);
    margin-top: 10px;
    margin-bottom: 10px;
}
.skill-cards {
    text-align: center;
}
.skill-cards img {
    width: 64px;
}
.project-grid {
    /* grid-template-columns: 1fr 1fr; */
    column-count: 2;
    gap: 60px;
}
.project-grid-card {
    margin-bottom: 60px;
}
.project-card img {
    border: 8px solid var(--primary-color);
    border-radius: 0px;
}
.project-card {
    position: relative;
}
.project-card:hover {
    cursor: pointer;
}
.project-card:hover img {
    opacity: .4;
}
.card-details {
    display: none;
    color: var(--white);
    position: absolute;
    text-align: center;
    padding: 5px;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project-card:hover .card-details {
    display: block;
}
.contact-info-grid {
    grid-template-columns: 1fr 1fr;
}
.contact-page {
    background-color: var(--primary-color);
}
.contact-page a:active,
.contact-page a:hover {
    color: var(--spare-color);
}
.contact-page .btn:active,
.contact-page .btn:hover:hover {
    color: var(--spare-color);
    cursor: pointer;
}
.contact-page .flex > * {
    flex-basis: 50%;
}               

.contact-text {
    margin: 10px auto;
}
.contact-page .card,
.contact-page input,
.contact-page textarea {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
}
.contact-page input,
.contact-page textarea {
    padding: 10px 15px;
}
.contact-page .card {
    text-align: center;
}
.contact-page input,
.contact-page textarea {
    font-size: 16px;
}
.contact-page i,
.contact-page .contact-text-address,
.contact-page a {
    color: var(--primary-color);
}
.contact-page .contact-text-address,
.contact-page a {
    font-size: 16px;
}
.contact-page i {
    font-size: 26px;
}
.connect-info-contain {
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.direct-info p {
    max-width: 700px;
    margin: 10px auto;
    font-size: 12px;
    text-align: center;
}
.direct-info a {
    font: inherit;
}
footer {
    background-color: var(--primary-color);
    color: var(--sec-color);
}
.footer-div {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.social-media-icons a {
    /* background-color: var(--primary-color); */
    color: var(--sec-color);
    padding: 2px 5px;
    font-size: 20px;
}
.social-media-icons a:hover {
    filter: opacity(.5);
}
.social-media-icons a:first-of-type {
    padding-left: 0px;
}
.social-media-icons a:last-of-type {
    padding-right: 0px;
}
@media (max-width: 565px) {
    .header,
    .container {
        padding: 10px 10px;
    }
    #hamburger-btn,
    .mobile-nav {
        display: block;
    }
    .brand {
        font-size: 22px;
        font-weight: 600;
    }
    .headings {
        font-size: 25px;
    }
    #home-page h1,
    .headings {
        font-size: 20px;
    }
    .home-intro {
        font-size: 15px;
    }
    .project-grid {
        /* grid-template-columns: 1fr 1fr; */
        column-count: 1;
        /* gap: 60px; */
    }
    .footer-div {
        flex-direction: column;
    }
    .mobile-none {
        display: none;
    }
    .edu-grid,
    .project-grid,
    .contact-info-grid {
        grid-template-columns: 1fr;
    }
    .skill-grid {
        grid-template-columns: 1fr 1fr;
    }
    .card-img {
        border-radius: 5px 5px 0 0;
    }
    .about-card {
        flex-direction: column;
    }
    .social-media-icons {
        margin: auto;
    }
}
/* @media (max-width: 999.5px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        height: 100vh !important;
        padding: 50px 20px;
        width: 0%;
        background-color: var(--sec-color);
        color: var(--primary-color);
        transition: width 3s ease-in;
    } 
    .mobile-nav a {
        display: block;
        padding: 15px 20px;
    } 
    #hamburger-btn {
        background-color: transparent;
        display: block;
    }
    #hamburger-btn {
        border: none;
        outline: none;
    }
    .mobile-nav.show {
        display: block;
        z-index: 5;
        width: 70%;
    }
} */
/* @media (min-width: 1000px) {
    .social-media-icons .fa {
        font-size: 25px;
    }
} */