:root { 
    --primary-color: #222428; 
    --sec-color: #F3F1F1;
    --spare-color: #5A4A45;
    --white: #FFFFFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: .3px solid red; */
}
body {
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Vollkorn', serif; */
}
h1,
h2,
h3 {
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Vollkorn', serif; */
}
ul {
    list-style: none;
}
p {
    max-width: 600px;
    font-size: 20px;
}
a {
    color: inherit;
    text-decoration: none;
}
.card-body {
    padding: 20px;
}
.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.card p {
    margin-bottom: 20px;
}
.card-img {
    width: 100%;
    border-radius: 5px 0 0 5px;
}
.card-img-top {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
footer .container,
section .container {
    max-width: 1150px;
    margin: auto;
    padding: 40px 30px;
}
.grid {
    display: grid;
    gap: 25px;
}
.flex {
    display: flex;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
.btn {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
}
.card .btn {
    margin-bottom: 120px;
}
.headings {
    margin-top: 10px;
    margin-bottom: 20px;
}
header {
    color: var(--primary-color);
    width: 100vw !important;
    z-index: 3;
    background-color: var(--sec-color);
    position: fixed;
}
header .container {
    max-width: 1150px;
    margin: auto;
    padding: 15px 30px;
}
header nav {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 20px;
    font-weight: 700;
}
.desktop-nav a {
    padding: 2px 10px;
}
.desktop-nav a:first-of-type {
    padding-left: 0px;
}
.desktop-nav a:last-of-type {
    padding-right: 0px;
}
#hamburger-btn,
.mobile-nav {
    display: none;
}
#hamburger {
    width: 30px;
    height: 30px;
}
.hamburger {
    background-image: url('../images/hamburger.svg');
    background-size: cover;
}
.close {
    background-image: url('../images/close.svg');
    background-size: cover;
}
.nav-link:hover,
.nav-link.active {
    text-decoration: none;
}
 
.landing-page {
    height: 100vh;
}
.landing-page h1 {
    max-width: 550px;
    font-size: 22px;
    line-height: 1.5;
}
.landing-page-container {
    display: flex;
    height: 100%;
    align-items: center;
}
.go-up {
    bottom: 20px;
    right: 10px;
}
.go-up a {
    background-color: #000000;
    color: #ffffff;
}
.about-card > * {
    flex-basis: 70%;
}
.about-card:first-child {
    flex-basis: 30%;
}
/* .skill-contain {
    grid-template-columns: 1fr 1fr;
} */
.edu-grid {
    grid-template-columns: 1fr 1fr;
}
.edu-head {
    justify-content: space-between;
}
.edu-title {
    font-size: 16px;
}
.edu-text {
    font-size: 15px;
}
.edu-time {
    font-size: 12px;
}
.skill-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.card hr {
    height: 1px;
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skill-cards {
    text-align: center;
}
.skill-cards img {
    width: 64px;
}
.project-grid {
    grid-template-columns: 1fr 1fr;
}
.contact-info-grid {
    grid-template-columns: 4fr 3fr;
}
.contact-page {
    background-color: var(--sec-color);
}
.contact-page .flex > * {
    flex-basis: 50%;
}
.contact-text {
    margin: 10px auto;
}
.contact-page .card,
.contact-page input,
.contact-page textarea {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.contact-page .card {
    text-align: center;
}
.contact-page input,
.contact-page textarea {
    font-size: 16px;
}
.contact-page .btn {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
}
.contact-page i,
.contact-page .contact-text-address,
.contact-page a {
    color: var(--primary-color);
}
.contact-page .contact-text-address,
.contact-page a {
    font-size: 16px;
}
.contact-page i {
    font-size: 26px;
}
footer {
    background-color: var(--primary-color);
    color: var(--sec-color);
}
.footer-div {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.social-media-icons a {
    /* background-color: var(--primary-color); */
    color: var(--sec-color);
    padding: 2px 5px;
}
.social-media-icons a:first-of-type {
    padding-left: 0px;
}
.social-media-icons a:last-of-type {
    padding-right: 0px;
}
@media (max-width: 565px) {
    /* header {
        height: 10vh;
    } */
    .headings {
        font-size: 25px;
    }
    .footer-div {
        flex-direction: column;
    }
    .edu-grid,
    .project-grid,
    .contact-info-grid {
        grid-template-columns: 1fr;
    }
    .card-img {
        border-radius: 5px 5px 0 0;
    }
    .about-card {
        flex-direction: column;
    }
    footer .container,
    section .container {
        padding: 40px 20px;
    }
    header .container {
        padding: 10px 20px;
    }
}
@media (max-width: 999.5px) {
    /* header {
        height: 10vh;
    } */
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        height: 100vh !important;
        padding: 50px 20px;
        width: 70% !important;
        background-color: var(--sec-color);
        color: var(--primary-color);
        transition: background-color 3s ease-in, width 3s ease-in;
    } 
    .mobile-nav a {
        display: block;
        padding: 15px 20px;
    } 
    #hamburger-btn {
        background-color: transparent;
        display: block;
    }
    #hamburger-btn {
        border: none;
        outline: none;
    }
    .mobile-nav.show {
        display: block;
        z-index: 5;
    }

}
@media (min-width: 1000px) {
    .social-media-icons .fa {
        font-size: 25px;
    }
}