:root { 
    --primary-color: #222428; 
    --sec-color: #F3F1F1;
    --spare-color: #5A4A45;
    --white: #FFFFFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    /* border: .3px solid red; */
}
body {
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Vollkorn', serif; */
}
h1,
h2,
h3 {
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Vollkorn', serif; */
}
ul {
    list-style: none;
}
p {
    max-width: 600px;
    font-size: 20px;
}
a {
    color: inherit;
}
.btn {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
}
header {
    color: var(--primary-color);
    width: 100vw !important;
    z-index: 3;
    background-color: var(--sec-color);
}
#hamburger-btn,
.mobile-nav {
    display: none;
}
#hamburger {
    width: 30px;
    height: 30px;
}
.hamburger {
    background-image: url('../images/hamburger.svg');
    background-size: cover;
}
.close {
    background-image: url('../images/close.svg');
    background-size: cover;
}
.nav-link:hover,
.nav-link.active {
    text-decoration: none;
}
  /* .hamburger .line{
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
#hamburger.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger.is-active .line:nth-child(1),
  #hamburger.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  
  #hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(90deg);
    -ms-transform: translateY(-10px) rotate(90deg);
    -o-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
  } */
.landing-page {
    height: 100vh;
}
.landing-page h1 {
    max-width: 550px;
    font-size: 22px;
    line-height: 1.5;
}

.go-up {
    bottom: 20px;
    right: 10px;
}
.go-up a {
    background-color: #000000;
    color: #ffffff;
}
.contact-page {
    background-color: var(--sec-color);
}
.contact-page .card,
.contact-page input,
.contact-page textarea {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
}
.contact-page .btn {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
}
.contact-page i,
.contact-page .contact-text-address,
.contact-page a {
    color: var(--primary-color);
}
.contact-page i,
.contact-page .contact-text-address,
.contact-page a {
    font-size: 16px;
}
footer {
    background-color: var(--primary-color);
    color: var(--sec-color);
}
footer a {
    /* background-color: var(--primary-color); */
    color: var(--sec-color);
}
@media (max-width: 565px) {
    /* header {
        height: 10vh;
    } */
    .headings {
        font-size: 28px;
    }
    .footer-div {
        flex-direction: column;
    }
}
@media (max-width: 999.5px) {
    /* header {
        height: 10vh;
    } */
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        height: 100vh !important;
        width: 70% !important;
        background-color: var(--sec-color);
        transition: background-color 3s ease-in, width 3s ease-in;
    } 
    #hamburger-btn {
        display: block;
    }
    #hamburger-btn {
        border: none;
        outline: none;
    }
    .mobile-nav.show {
        display: block;
        z-index: 5;
    }

}
@media (min-width: 1000px) {
    .social-media-icons .fa {
        font-size: 25px;
    }
}